/* Police Amatic SC */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

/* Police Belgrano */
@import url('https://fonts.googleapis.com/css2?family=Belgrano&display=swap');





/* HEADER */

.header{
    font-family: 'Amatic SC';
    margin-top: 10px;
    border-bottom: 1px solid #000;
}

.header, h1{
    font-size: 50px;
}

.header , a{
    text-decoration: none;
    color: #000;
}

.link{
    color: #1E1E1E;
    text-decoration: none;
    text-align: center;
}

.link:hover{
    color: #88B494;
    text-decoration: none;
    transition: 0.6s;
}

#colDescend{
    margin-top: 9px;
}

/* FIN HEADER */



/* FOOTER */

.footer{
    font-family: 'Amatic SC';
    border-top: 1px solid #000;
    margin-top: 3rem;
}

.footer > h1{
    font-size: xx-large;
}

/* FIN FOOTER */

    

/* INDEX LOADER */

.imgIndex{
    margin-top: 30%;
    width: 30%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* FIN INDEX LOADER */


/* HOME */

.home{
    margin-top: 3%;
}

#homePresentation{
    font-family: 'Belgrano', serif;
    font-size: 70px;
    text-align: center;
    margin-top: 100px;
}

.spanGreen{
    color: #88B494;
}

.inputSearch{
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(15, 15, 51, 0.4);
    outline: none;
    border: none;
    border-radius: 15px;
}

.inputSearch > input{
    outline: none;
    border: none;
    margin-left: 15%;
}

.inputSearch > input:hover{
    border: none;
    outline: none;
}

#formSearchHome{
    margin-top: 15%;
}


.arrowButton{
    height: 50px;
    width: 50px;
}

.buttonSubmitArrow{
    outline: none;
    border: none;
    background-color: #88B494;
    margin-left: 21.5px;
    border-radius: 15px 15px 15px 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.cont{
    height: 100%;
    width: 90%;
    border-radius: 20px;
    align-items: center;
    display: table;
    margin: 0 auto;
}

.cont .div_green{
    display: table-cell;
    height: 600px;
    width: 400px;
}

.div_green{
    background-color: #88B494;
    border-radius: 180px 180px 180px 0px;
    padding-top: 1%;

}

.div_white{
    background-color: #fff;
    border-radius: 0px 20px 20px 0px;
    padding-top: 1%;
}

.imgProfil {
    z-index: 5;
    display: flex;
    right: 50%;
    top: 17%;
    left: 49%;
    /* right: 50%; */
    /* top: -68px; */
    bottom: 129px;
    position: fixed;
    vertical-align: bottom;
  }

.desgProduit{
    margin-top: -50px; 
    margin-left: -10px;
    font-family: 'Amatic SC';
    font-size: 40px;
}

.desgProduitDiv{
    background-color: #fff;
}

.right{
    border-radius: 0px 90px 0px 0px;
}

.buttonDesgProduit {
    border: none;
    outline: none;
    background-color: #006430;
    padding-right: 20%;
}



/* FIN HOME */

/* LOGIN */ 

.container_login{
    width: 951px;
    height: 651px;
    margin-top: 3rem;
    margin-left: 24rem;

    background: #88B494;
    border-radius: 180px 0px;
}

.id_login{
    margin-top: 0rem;
    margin-left: 13rem;
    height: fit-content;
    width: fit-content;
}

.id_login>#libelle_id_login{
    text-align: center;
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 0rem;
}

.id_login>#input_id_login{
    width: 516px;
    height: 50px;
    margin-top: 0rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    outline: none;
    border: none;
    margin-bottom: -1rem;
    font-family: 'Belgrano';
    text-align: center;
    font-size:larger;
}

.mdp_login{
    margin-top: 4rem;
    margin-left: 13rem;
    height: fit-content;
    width: fit-content;
}

.mdp_login>#libelle_mdp_login{
    text-align: center;
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 0rem;
}

.mdp_login>#input_mdp_login{
    width: 516px;
    height: 50px;
    margin-top: 0rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    outline: none;
    border: none;
    text-align: center;
}

.validation_login{
    width: 129px;
    height: 50px;
    margin-top: 3rem;
    margin-left: 25rem;
    background: #FFFFFF;
    border-radius: 30px;
    outline: none;
    border: none;
}

.option_login{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin-top: 1.8rem;
}

.option_login>.inscription_login>a{
    text-decoration: none;
    color: black;
    font-family: 'Amatic SC';
    font-size: 1.8rem;
}

.option_login>.inscription_login{
    margin-top: 1rem;
}

.option_login>.admin_login>a{
    text-decoration: none;
    color: black;
    font-family: 'Amatic SC';
    font-size: 1.8rem;
}

.logo_login_right{
    height: 6rem;
}

.logo_login_right>img{
    width: 13rem;
    height: 8rem;
    margin-left: 49rem;
    margin-bottom: 0rem;
} 

.logo_login_left{
    height: 6rem;
    width: fit-content;
}

.logo_login_left>img{
    width: 13rem;
    height: 8rem;
    margin-top: -1.5rem;
    margin-left: -1.5rem;
    
} 




/* FIN LOGIN */ 

.main_color{
    color : #006430;
}

/* Panier */

@media screen and (max-width: 576px){
    .photo_produit_panier {
        width: 75px;
        height: auto;
        border: solid;
    }
    .panier-content{
        margin-right: 20px;
    }
    .title_prod{
        font-size: 14px;
    }
    .number_bag{
        width: 24px;
        font-size: 10px;
    }
    .poubelle-panier{
        width: 15px;
        height: auto;
    }
    .quantite-control{
        width: 10px;
        height: auto;
    }
}

@media screen and (min-width: 576px){
    .photo_produit_panier {
        width: 125px;
        height: auto;
        border: solid;
    }
    .panier-content{
        margin-right: 50px;
        margin-left: 50px;
    }
    .title_prod{
        font-size: 24px;
    }
    .number_bag{
        width: 50px;
        font-size: 18px;
    }
    .poubelle-panier{
        width: 25px;
        height: auto;
    }
    .quantite-control{
        width: 15px;
        height: auto;
    }
}

@media screen and (min-width: 992px){
    .photo_produit_panier {
        width: 200px;
        height: auto;
        border: solid;
    }
    .panier-content{
        margin-right: 100px;
        margin-left: 100px;
    }
    .title_prod{
        font-size: 24px;
    }
    .number_bag{
        width: 70px;
        font-size: 18px;
    }
    .poubelle-panier{
        width: 35px;
        height: auto;
    }
    .quantite-control{
        width: 25px;
        height: auto;
    }
}

/* Validation commande */

.champ-text-commande{
        text-align: center;
        border-radius: 5px;
        border: solid 1px;
}

@media screen and (max-width: 576px){

    .card-img {
        height: 50px;
        width: auto;
        margin-left: 150%;
    }

    .ccv-img {
        height: 45px;
        width: auto;
        margin-top: 30px;
        margin-left: 150%;
        padding-left: 5px;
    }

    .profil-img{
        height: 50px;
        width: auto;
        margin-top: 30px;
        margin-left: 150%;
    }

    .livraison-img{
        height: 50px;
        width: auto;
        margin-top: 30px;
        margin-left: 150%;
    }

    .total-price{
        font-size: 12px;
    }
}

@media screen and (min-width: 576px){

    .card-img {
        height: 75px;
        width: auto;
        margin-right: 20px;
    }

    .ccv-img {
        height: 70px;
        width: auto;
        margin-right: 20px;
        padding-left: 5px;
    }

    .profil-img{
        height: 70px;
        width: auto;
        margin-right: 20px;
        padding-left: 5px;
    }

    .livraison-img{
        height: 70px;
        width: auto;
        margin-right: 20px;
        padding-left: 5px;
    }

    .champ-text-commande{
        width: 250px;
    }

    .total-price{
        font-size: 16px;
    }
}

@media screen and (min-width: 992px){

    .card-img {
        height: 100px;
        width: auto;
        margin-right: 20px;
    }

    .ccv-img {
        height: 90px;
        width: auto;
        margin-right: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .profil-img{
        height: 90px;
        width: auto;
        margin-right: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .livraison-img{
        height: 90px;
        width: auto;
        margin-right: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .champ-text-commande{
        width: 500px;
    }

    .total-price{
        font-size: 24px;
    }
}

/*details_produit*/


.container_detail_produit{
    width: fit-content;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    margin-left: 10rem;
}

.left-side{
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    background-color: white;
}


.info_detail_produit{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 8rem;
    margin-left: 4rem;
    width: 526px;
    height: 67px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 80% 20%;
}

.info_detail_produit>.nom_detail_produit{
    font-family: Amatic SC;
    font-size: 60px;
    font-weight: 400;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: -0.5rem;
}

.info_detail_produit>.prix_detail_produit{
    width: 125px;
    height: 67px;
    margin-left: -0.6rem;
    
    

    background: #88B494;
    border-radius: 30px 30px 30px 0px;

    font-family: Amatic SC;
    font-size: 60px;
    font-weight: 400;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
}

.info_detail_produit>.prix_detail_produit>p{
    margin-top: -0.3rem;
}


.description_detail_produit{
    margin-top: 7.5rem;
    height: 304px;
    width: 628px;
    left: 160px;
    top: 466px;
    border-radius: nullpx;
}

.description_detail_produit>p{
    font-family: Belgrano;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}

.ajout_produit_panier{
    display: grid;
    grid-template-columns: 80% 20%;
    width: 516px;
    height: 67px;
    left: 206px;
    top: 853px;
    margin-left: 4rem;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.ajout_produit_panier>.text_bouton{
    font-family: 'Belgrano';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #000000;
    padding-left: 55px;
    padding-top: 20px;
}

.ajout_produit_panier>.bouton_ajout_panier{
    width: 105px;
    height: 67px;
    
    background: #88B494;
    border-radius: 30px 30px 30px 0px;
}

.ajout_produit_panier>.bouton_ajout_panier>a{
    right: 5rem;
}

.right-side{
    width: fit-content;
    margin-block-end: 5rem;
    height: 100%;
    width: 90%;
    border-radius: 20px;
    align-items: center;
    display: table;
    margin-left: 11.3rem;
    margin-top: -0.8rem;

}

#product {
    width: 500px;
    height: 400px;
    position: relative;
}
  
#img_detail_produit {
   
    height: 32.7rem;
    width: 27rem;
    z-index: 5;
    top: 12.8rem;
    margin-left: -15rem;
    margin-top: 2rem;
}
  
.div_green_detail_produit{
    
    width: 25rem;
    height: 38.5rem;
    margin-left: 6.5rem;
    margin-top: 6.5rem;

    background: #88B494;
    border-radius: 188px 188px 188px 0px;
}



@media screen and (max-width: 1200px){
    .bouton_produit {
  
        font-size: 25px; 
    } 
    .com_titre {
        display:block;
        margin-left:0%;
    }

}

@media screen and (max-width: 992px){
    .description {
        margin-left:3%;
        width:95%;
    }

    .bouton_produit {
        margin-top:50px;
        font-size: 40px;
        
    }
    .photo img {
        width: 100%;
    }
    .previ img {
        margin-bottom:50px;
        border: 1px solid black;
        border-radius: 2px;
        width: 30%;
        height: 30%;
    }
    .previ {
        margin-top: 10%;
    
       }
       .commentaire {
   
        margin-top: 10%;
        border: 1px solid black;
        height:600px;
        width:100%;
    }
       .com-deroul {
    height:565px;
    width: 100%;
    overflow-y:auto;
}
       .commentaire_cont {
        
        margin-top: 20px;
        margin-left:10px;
        font-size: 20px;
        background-color:silver;
        height: auto;
        width:800px;
    }

}
@media screen and (max-width: 768px){
    .description {
        width: 90%;
        margin-top: 5%;
        margin-left: 5%;
        margin-right:5%;
        
    }
    .bouton_produit {
        margin-top:50px;
        margin-left:0px;
        font-size: 40px;
    }
    .photo img {
        width: 80%;
    }
    .previ img {
    
        border: 1px solid black;
        border-radius: 2px;
        height: 20%;
        width: 20%;
    }
    .previ {
        margin-top: 5%;
    
       }
       .commentaire {
   
        margin-top: 10%;
        border: 1px solid black;
        height:600px;
        width: 100%;
    }
    .com-deroul {
        height:565px;
        width: 100%;
        overflow-y:auto;
    }
       .commentaire_cont {
        
        margin-top: 20px;
        margin-left:10px;
        font-size: 20px;
        background-color:silver;
        height: auto;
        width:680px;
    }

}

/* InfosPerso */

.container-info{
    margin-top: 60px;
    /* border: solid red; */
    width: 700px;
    margin-left: 600px;
    border: solid red;
    width: 300px;
    margin-left: 800px;
    margin-top: 100px;
}


.line{
    display: flex;
    padding-top: 10px;
    margin-top: 10px;
    /* border: solid green; */
}

.line input{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-left: 25px;
    padding-top: 20px;
    /* border: solid yellow; */
}


.info
{
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
}

hr{
    border: solid 1px;
}

.crayon
{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
}

.line img{
    margin-top: 20px;
}

.line input{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    /* border: solid yellow; */

}


.btn-test {
    margin-left: 10%;
    margin-top: 20%;
    font-size: 20px;
}
