
body {
    min-height:100vh;
    display:flex;
    flex-direction:column;

}
.panier-content{
    margin-right: 100px;
    margin-left: 100px;
}
.description {
    margin-top: 6%;
    border: 1px solid black;
}
.main_color{
    color : #006430;
}

/* Panier */

@media screen and (max-width: 576px){
    .photo_produit_panier {
        width: 75px;
        height: auto;
        border: solid;
    }
    .panier-content{
        margin-right: 20px;
    }
    .title_prod{
        font-size: 14px;
    }
    .number_bag{
        width: 24px;
        font-size: 10px;
    }

}

@media screen and (min-width: 576px){
    .photo_produit_panier {
        width: 125px;
        height: auto;
        border: solid;
    }
    .panier-content{
        margin-right: 50px;
        margin-left: 50px;
    }
    .title_prod{
        font-size: 24px;
    }
    .number_bag{
        width: 50px;
        font-size: 18px;
    }
}

@media screen and (min-width: 992px){
    .photo_produit_panier {
        width: 250px;
        height: auto;
        border: solid;
    }
    .panier-content{
        margin-right: 100px;
        margin-left: 100px;
    }
    .title_prod{
        font-size: 24px;
    }
    .number_bag{
        width: 70px;
        font-size: 18px;
    }
}

/*affiche produit*/
.photo {
    margin-top: 17%;
}
.previ {
 margin-top: 15%;
 margin-bottom: 20%;
}
.previ img {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 2px;
    height: 82px;
}
.previ img:hover {
    box-shadow: 0 0 4px 3px rgba(0, 140, 186, 0.5);
    background: gray;
}
.bouton_produit {
    margin-top: 20%;
}

footer {
    margin-top:auto; 
}